/* general
==============================================================================*/
:root {
    --bg-dark: #1f2937;
    --text-white: #f9faf8;
    --cta-primary: #3882f6;
    --text-white-secondary: #e5e7eb;
    --img-placeholder: #6d747d;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* nav
==============================================================================*/
nav,
.hero {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

nav span {
    font-size: 24px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    color: var(--text-white-secondary);
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: var(--text-white);
    text-decoration: underline;
}

header {
    background: var(--bg-dark);
    color: var(--text-white);
}

/* hero
==============================================================================*/

.hero {
    display: flex;
    /* background: orangered; */
    padding: 100px 0;
}

.hero div:first-child {
    flex: 1 0 50%;
    padding-right: 100px;
}

.hero h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: var(--text-white-secondary);
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.img-placeholder {
    background: var(--img-placeholder);
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* buttons
==============================================================================*/
.button {
    color: var(--text-white);
    font-size: 16px;
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    filter: brightness(120%);
    color: var(--bg-dark);
}

.fill {
    background: var(--cta-primary);
}

.button.outline {
    background: rgba(255, 255, 255, 0);
    border: 2px solid var(--text-white);
    /* color: var(--text-white); */
}

.outline:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* main
==============================================================================*/


section h2 {
    text-align: center;
    margin: 40px;
}

.random-info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.random-info-card {
    /* border: 1px solid blue; */
    flex: 0;
}

.random-info-card p {
    text-align-last: center ;
    font-size: 14px;
}

.random-info-placeholder {
    height: 160px;
    width: 160px;
    border: 4px solid var(--cta-primary);
    border-radius: 8px;
}


.testimonial {
    width: 100%;
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px 200px;
}

blockquote p{
    margin-bottom: 10px;
}

.quote-container figcaption,
.quote-container cite {
    text-align: right;
    /* background: red; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.signup {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cta-card {
    flex:1;
    background: var(--cta-primary);
    margin: 120px 0;
    border-radius: 10px;
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    align-items: flex-end;
}

.cta-card-text-container {
    color: white;
    /* border: 1px solid black; */
    text-align: left;
}

.cta-card-text-container h2 {
    /* border: 1px solid red; */
    text-align: left;
    margin: 0 0 10px 0;
}


/* footer
==============================================================================*/
footer {
    background: var(--bg-dark);
    color: var(--text-white);
    padding: 60px;
    text-align: center;
}
